.float_right{
    float: right;
}

.logout{
    float: right;
    margin-right: 12px;
}

.error{
    color:red;
}


.side_bar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:royalblue; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

.nav_bar{
    margin-left: 160px;
    margin-right:160px;
    height: 40px;
    background-color: royalblue;
}

.main{
    margin-left: 180px;
    margin-right: 160px;
    margin-top: 40px;
}

.send{
    display: inline-block;
    margin-left:15px
}

.message_input{
    margin-left: 10px;
    margin-top: 10px;
}