

.sidebar_menu{
    list-style-type: none;
}

.sidebar_item a{
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
}



.sidebar_item a:active{
    font-weight: 900;
}

.sidebar_item a:hover{
   color:tomato;
}